*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.top-menu{
    background-color:  green;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 9em;
    grid-row-gap: 1em;
    padding: 14px 64px;
    margin-bottom: 36px;
}

.top-menu .page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

.top-menu .page a{
    color: white;
}

.lines{
    border-right: 1px solid white;
    height: 36px;
}

.dropbtn {
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: darkgreen;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #16c63c6a;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

.top-menu .signin{
    padding: 20px 20px 20px 20px;
    background-color: saddlebrown;
    border-radius: 8px;
}

.footer{
    bottom: 0;
    background-color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 16px 16px 16px 16px;
}
  
.fa:hover {
      opacity: 0.7;
}

.video{
    text-align: center;
}

p{
    padding:  20px 20px 20px 20px;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}